textarea {
    resize: none;
}

.exporter textarea {
    width: 33%;
    display: inline-block;
    height: 30vh;
}
.form textarea {
    width: 400px;
    height: 100px;
}

.slide-container {
    margin: 0px 0px 20px;
}

.slide {
    padding: 10px 0px;
    border-bottom: 1px solid #e2e2e2;
}

.slide > div {
    display: inline-block;
    width: 33%;
    padding: 20px 0px;
}

.slide > div * {
    vertical-align: middle;
}

.iframe-container {
    width: 33%;
    margin: 0 auto;
}
iframe {
    width: 100%;
    height: 60vh;
}
